PORT=5050
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# Base URLs (prod)
SAMGOV_BASE_URL="https://api.sam.gov/opportunities/v2/search"
SAMGOV_NOTICE_DESC_URL="https://api.sam.gov/prod/opportunities/v1/noticedesc"
SAMGOV_AWARD_URL="https://api.sam.gov/contract-awards/v1/search"
SAMGOV_RESOURCES_URL="https://sam.gov/api/prod/opps/v3/opportunities"
USASPENDING_BASE_URL="https://api.usaspending.gov"

# API Keys
SAMGOV_API_KEY=
GSA_AQUISITION_API_KEY=
DATABASE_URL=
SAMGOV_API_KEYv1=
DATABASE_URLv1=
NEON_DB_API=
CLERK_PUBLISHABLE_KEY=
CLERK_JWKS_URL="https://cute-toucan-73.clerk.accounts.dev/.well-known/jwks.json"
CLERK_SECRET_KEY=
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
RESEND_API_KEY=
RESEND_FROM="onboarding@resend.dev"
DIGEST_HMAC_SECRET=
RESEND_TEST_TO="cocoabridge@supplytiger.com"
# Development Settings
CLIENT_URL="http://localhost:5173"
MCP_SERVER_URL="http://localhost:3001"
MCP_SECRET=

 # Admin Emails (comma-separated)
ADMIN_EMAILS="ryan@supplytiger.com, john@supplytiger.com"
INNGEST_ID=

# Additional API Keys
GEMINI_API_KEY=